.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
  }
  
.carousel {
    padding: 20px;
}
h5{
    color: black;
}

.gochi-hand-regular {
    font-family: "Gochi Hand", cursive;
    font-weight: 1000;
    font-style: normal;
    font-size: 500px;
}

.card{
    width: 600px;
}